.card {
  background-color: white;
  border-radius: 2rem;
  margin-bottom: 1rem;

  &__container {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 1rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }

  &__info {
    margin: 0;
  }
}
